body, html {
    height: 100%;
    margin: 0, 0, 0, 0;
    padding: 0;
    gap: 0;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: green;
    font-style: italic;
    font-size: 40px;
    height: 15vh;
}

h1, .subtitle {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.instructions {
    width: 150px;
    height: 450px;
    justify-content: center;
    margin: 1px, 1px, 1px, 1px;
    margin-right: auto;
    border: 2px solid rgb(50, 100, 216);
    font-size: 12px;
    text-align: center;
    color: rgb(54, 111, 197);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    height: 500px;
    border: 5px solid #4faf45; 
    background-color: rgb(151, 248, 151);
}

.p {
    display: flex;
    position: sticky;
    justify-content: center;
    color: blue;
    font-size: 12px;
}

.left-align {
    display: flex;
    justify-content: center;
    color: rgb(225, 133, 20);
    font-size: 20px;
    position: fixed, left;
    text-align: center;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    text-align: center;
    width: calc(25% - (15px / 4));
    height: calc(20% - (20px / 5));
}

.square img {
    max-width: 100%;
    object-fit: contain;
    display: none;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#game-screen, #end-of-game-screen {
    text-align: center;
}

#start-playing {
    text-align: center;
    color: green;
    position: center;
    justify-content: center;
}

.hidden {
    visibility: hidden;
    display: none;
}

#countdown-container {
    position: center;
    border: 10px solid rgb(251, 137, 7);
    background-color: orange;
    color: rgb(3, 2, 2);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#play-again {
    background-color: rgb(55, 231, 55);
    width: 120px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    display:flex;
    position:absolute;
}
